*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
.box{
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr,2);
    place-items: center;
    gap: 20px;
    border: 20px solid rgb(143, 201, 143);
    border-radius:10px;
}
.box img{
    width: 400px;
    height: 300px;
    border: 5px solid rgb(143, 201, 143);  
    border-radius: 10px;
}
.update-picture{
    padding: 2rem 3rem;
    margin-top: 50px;
    background: rgb(143, 201, 143);
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.update-picture:active{
    transform: scale(94%);
}
.vanish{
    display: none;
}